.modal-content {
  border: 0;
  border-radius: 0;
  padding: 0.5rem;

  .modal-wrapper {
    @include dotted-border('orange');
  }

  .modal-header {
    border-bottom: 0;
    padding: 6px;
    position: absolute;
    right: 15px;
    z-index: 10;

    .close {
      opacity: 1;
      color: $black;
      text-shadow: none;
    }
  }

  .btn-primary {
    left: auto;
    right: -67px;
    margin-bottom: -110px;
    outline: 0;
    cursor: pointer;

    @include media-breakpoint-down(xs) {
      right: -6px;
      margin-bottom: -122px;
    }
  }

  .nf-error .ninja-forms-field {
    border-bottom: 1px solid #dc3545;
  }

  .nf-error-msg {
    color: #dc3545;
  }

  .nf-form-fields-required {
    display: none;
  }

  .label-below .field-wrap {
    flex-wrap: nowrap;
  }
}
