#archive-header {
  // height: 100vh;
  // background-image: url("../images/schuhe_karin.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center right;
  // position: relative;

  &.row.boxed-row {
    width: 100%;
    background: $primary;
    padding: 100px 40px 50px;
    position: relative;

    @include media-breakpoint-down(xs) {
      padding: 110px 10px 10px;
    }
  }

  h1 {
    @include heading-dotted-border();

    color: $black;
    width: 200px;
    top: auto;
    left: -30px;
    bottom: 65px;
    text-align: center;
    font-size: 1.75rem;
    transform: rotate(-5deg);

    @include media-breakpoint-down(sm) {
      left: 0;
      bottom: -60px;
    }
  }

  figure {
    border: 12px solid $white;
  }
}
