figure.image-bordered,
.image-bordered figure {
  position: relative;
  margin: 0;
  padding: 3px;

  @include dotted-border('orange');

  figcaption {
    @include boxed-heading();
  }

  @include media-breakpoint-only(sm) {
    margin: 0 50px;
  }
}

body.page-id-290 .wrap.container-fluid,
body.page-id-45 .wrap.container-fluid {
  background: $primary;
  margin-top: 0 !important;
  padding-top: 8em;

  @include media-breakpoint-down(xs) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

body.page-id-290 .vc_inner:not(.heading-container) .vc_column_container > .vc_column-inner {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -15px;
}

.vc_empty_space.mobile-hidden {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

div:not(.grid-gallery-mosaic):not(.grid-gallery-fixed).grid-gallery .gg-link {
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    float: none !important;
  }
}

.vc_row.mobile-padding {
  @include media-breakpoint-down(md) {
    padding: 0 35px;
  }
}
