/* Fonts */
$headings-ff: 'Give You Glory', cursive;
$text-ff: 'Merriweather Sans', sans-serif;
$base-fontsize: 14px;

/* Colors */
$primary: #ef6b28;
$white: #fff;
$black: #222;

$transition-default: all 0.6s ease;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
